.contact1{
    margin: 30px 0px;
}
.section-p1 {
    padding: 40px 80px;
}

/* Contact page*/
#contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-details .details {
    width: 40%;
}

#contact-details .details span,
#form-details from span {
    font-size: 15px;
}

#contact-details .details h2,
#form-details from h2 {
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

#contact-details .details h3 {
    font-size: 16px;
    padding-bottom: 15px;
    color: var(--main-color);
}

#contact-details .details li {
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contact-details .details li i {
    font: size 14px;
    padding-right: 22px;
    color: var(--main-color);
}

#contact-details .details li p {
    margin: 0;
    font-size: 14px;
}

#contact-details .map {
    width: 40%;
    height: 350px;
}

#contact-details .map iframe {
    width: 100%;
    height: 100%;
}

#form-details {
    display: flex;
    justify-content: center;
    margin: 30px 30px 0 30px;
    padding: 10px;
    height: 800px;
    padding-top: 50px;
}

#form-details form {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}

#form-details .img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 70px;
}

#form-details form input,
#form-details form textarea {
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 2px solid #e1e1e1;
}

#form-details form textarea {
    resize: none;
}


#form-details form button {
    border-radius: 8px;
    padding: 10px;
    background-color: var(--main-color);
    color:  #fff;
    border: none;
    font-weight: 500;
}

#form-details .people div {
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}

#form-details .people div img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}

#form-details .people div p {
    margin: 0;
    font: size 13px;
    line-height: 25px;
}

#form-details form span {
    display: block;
    font-size: 20px;
    font-weight: 500;
    color: var(--main-color);
    margin-bottom: 15px;
}



@media (max-width:799px) {
    .section-p1 {
        padding: 40px 40px;
    }

    /*contact page*/

    #form-details {
        padding: 40px;
    }

    #form-details form {
        width: 50%;

    }

}

@media (max-width: 477px) {
    .section-p1 {
        padding: 20px;
    }

    /*contact page*/
    #contact-details {
        flex-direction: column;
    }

    #contact-details .details {
        width: 100%;
        margin-bottom: 30px;
    }

    #contact-details .map {
        width: 80%;
    }

    #form-details {
        margin: 10px;
        padding: 30px 10px;
        flex-wrap: wrap;
    }

    #form-details form {
        width: 90%;
        margin-bottom: 30px;
    }

}