.nos-points {
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;

    h2 {
        position: relative;
        margin: 0 auto;
        font-size: 30px;
        letter-spacing: 1px;
        font-weight: 600;
        text-transform: capitalize;
        color: var(--main-color);
        font-family: "Indie Flower", cursive;

        width: fit-content;

        &::after {
            content: '';
            position: absolute;
            height: 3px;
            width: 20%;
            left: 0;
            bottom: 0;
            background-color: var(--main-color);
        }
    }

    .nos-points-wrraper {
        /* position: relative; */
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            /* position: absolute; */
            height: 400px;
            /* border: 2px solid; */
            border-radius: 9px;
            mix-blend-mode: multiply;
        }

        /* .canvas {
            position: absolute;
            cursor: grabbing;
        }

        .cards {
            position: absolute;
            height: 100px;
            width: 150px;
            background-color: rgba(191, 191, 191, 0.77);
            animation: fade 3s infinite ease-in-out;
            border-radius: 5px;



            &:nth-child(3) {
                left: 14%;
                top: 10%;
                height: 170px;
            }

            &:nth-child(4) {
                left: 11%;
                bottom: 12%;
            }

            &:nth-child(5) {
                right: 14%;
                bottom: 12%;
                height: 150px;
            }

            &:nth-child(6) {
                right: 11%;
                top: 10%;
            }
        } */

    }

}